<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connections</title>
    <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />
      <link rel="icon" type="image/jpg" href="/assets/image/icon.jpg">
</head>
<body>
  <%-include('partial/header') -%>
  <%-include('partial/navigation') -%>
<main>
  <div class="con">
      <% for(let i=0; i<data.topics.length; i++){ %>
                    <h3> <%= data.topics[i] %></h3>
                    <ul >
                        <% for(let j=0; j < data.connections.length; j++){
                            if(data.connections[j]._connectionTopic === data.topics[i] ){%>
                        <li class="list-group-item border-0"><a
                                href="/connect/connection/<%= data.connections[j]._connectionId%>"><%= data.connections[j]._connectionName %></a>
                        </li>
                        <% } %>

                        <% }%>
                    </ul>
                    <% } %>
  </div>
</main>
<%-include('partial/footer') -%>

</body>
</html>
