<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/jpg" href="/assets/image/icon.jpg">
</head>
<body>
  <%-include('partial/header') -%>
  <%-include('partial/navigation') -%>
<main>
  <div class="log">
    <h2>Welcome to 49ers Lifters</h2>
    <h4>Please enter username and password to signin</h4>
  </div>
  <div>
    <form class="login" action="/connect/myconnections/login" method="POST">
      <div class="container">
        <div class="error">
          <%if(msg !== ""){%>
            <em id='error'><%=msg%></em>
        <%}%>
        </div>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="email" name="email" required>
    <div class="error">
      <%if(err !== ""){if(err.email){%>
            <em id='error'>*<%=err.email.msg%></em>
          <%}}%>
    </div>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>
    <div class="error">
      <%if(err !== ""){if(err.password){%>
            <em id='error'>*<%=err.password.msg%></em>
          <%}}%>
    </div>
    <button type="submit">Login</button>
    </form>
  </div>
</main>
<%-include('partial/footer') -%>

</body>
</html>
